<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="packing" type="Unity.Ioc.Framework.Configuration.PackingSection,Unity.Ioc.Framework"/>
	</configSections>

	<packing>
		<moduleAssemblies>
			<add name="ClassLibraryTest1"/>
			<add name="ClassLibraryTest2"/>
		</moduleAssemblies>
	</packing>
</configuration>